body{
  background-color: teal;
  font-size: 30px;
  width: 100%;
 
  
}
  .Search{
    float: right;
    height: 60px;
    font-size: 30px;
   
  }

.App {
  text-align: center;
}

.App-header {
  padding-top: 20px;
  background-color: rgb(194, 172, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
 
}

.App-link {
  color: #61dafb;
}

